<div class="home-callout text-center container-fluid">
    <h1>Welcome to IoT DevMatch<h1>
    <h3>A membership site where product leaders can meet developers</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-6">
        <div class="well">
          <h3 class="text-center profile-section">Your Profile</h3>
          <br/>
          <% if current_user.profile %>
            <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id) , class: 'btn btn-default btn-lg btn-block' %>
            <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-info btn-lg btn-block' %>
          <% else %>
            <p>Create your profile so that you can share your interests and information with the IoT community.</p>
            <%= link_to "Create Your Profile", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h3 class="text-center network">The IoT Network</h3>
          <p class="network">Visit the community page to meet other developers, product leaders, data scientist and investors. Get noticed now! </p>
          <br/>
          <%= link_to "Explore", users_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    <% else %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="basic_info text-center">Basic Membership</h2>
          <br/>
          <h5 class="basic_info text-center">Sign up and get basic access to the community, publications and free training courses</h5>
          <br/>
          <h5 class="basic_info text-center">Completely free</h5>
          <br/>
            <div class="text-center">
              <span class="glyphicon glyphicon-user fa-3x"></span>
            </div>  
          <br/>
          <%= link_to "Get Free Account", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="premium_info text-center">Premium Membership</h2>
          <br/>
          <h5 class="premium_info text-center">Sign up for the premium account, get full access to the community, and find the perfect business partner for your project!</h5>
          <br/>
          <h5 class="premium_info text-center">$4.99 a month</h5>
          <br/>
            <div class="text-center">
              <span class="glyphicon glyphicon-briefcase fa-3x"></span>
            </div>  
          <br/>
          <%= link_to "Get Premium Account", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
