<!DOCTYPE html>
<html>
  <head>
    <title>DevMatch</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-rocket"></i>
            IoT DevMatch
          <% end %>
        </div>
        
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
            <% else %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <div class="container flash-container">
        <% flash. each do |type, msg| %> 
          <%= content_tag :div, msg, class: "alert alert-#{type}" %>
        <% end %>
    </div>
    
    <div class="footer container">
      <!--<ul class="list-inline">-->
      <!--  <li><h5 class="social">Follow Us</h5></li>-->
      <!--  <li><%= link_to "Twitter", href="http://www.twitter.com", target: "blank", class: 'btn btn-link' %></li>-->
      <!--  <li><%= link_to "Facebook", href="http://www.facebook.com", target: "blank", class: 'btn btn-link' %></li>-->
      <!--  <li><%= link_to "GitHub", href="http://www.github.com", target: "blank", class: 'btn btn-link' %></li>-->
      <!--</ul>-->
    </div>
    <%= yield %>
      
  </body>
</html>
